@import './_variables/variables';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans:wght@500;700&family=Poppins:wght@500;700&display=swap');
@import './_mixin/mixin';


* {
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 0px;
    border: 3px solid $main-color;
    margin: 25px auto 0 auto;
}

@import './_block/promo';
@import './_block/title';
@import './_block/about';
@import './_block/resume';
@import './_block/skills';
@import './_block/lang';