.promo {
    min-height: 100vh;
    background: url('../img/promo_bg.jfif') no-repeat 50%/cover;
    padding-top: 210px;
    &__subtitle {
        position: relative;
        color: rgb(10, 7, 67);
        padding-left: 15px;
        @include beforCircle;
        z-index: 2;
    }
    &__title {
        color: rgb(10, 7, 67);
        width: 532px;
        margin-top: 10px;
    }
    &__btn {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
        
    }
    &__link {
        font-size: 16px;
        color: rgb(10, 7, 67);
        font-weight: bold;
        padding: 12px 25px;
        &:hover {
            color:#fff;
            text-decoration: none;
            background:$main-color;
        }
        
    }
}
